body{
	background-image: url(/weather/img/background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
}

td{
	
    font-size: 20px;
	line-height: 2;
	color: white;
}

input{
	border-radius: 5px;
	height: 30px;
	
}

.after:after {content:' ...'}


.img-day{
	width: 200px;
	margin-left: 50px;
}

#formCity{
	margin-left: 600px;
	margin-top: -5%;
}

#btnGetWeather{
	margin-left: 5px;
}

#title{
	background-color: rgba(0, 0, 0, 0.31);
	border-radius: 10px;
	padding-bottom: 5px;
}

#weather{
	height: 300px;
	width:  600px;
	margin: auto;
	margin-top: 8%;
	background-color: rgba(0, 0, 0, 0.31);
	border-radius: 10px;
}

#title-page{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	width: 20em;
    color:white;

    font-family: 'Marck Script', cursive;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);

}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }

}

#footer{
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	height: 50px;
	border-radius: 10px;
	position: absolute;
}
